@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="homePage text-primary">
    <h1>Welcome patient profile</h1><br />
    <p>Confident, Beneficial, Convenient </p>

    <div class="homePage text-dark-50" >
        <h4>Ochilov Humoyun Ravshan o'g'li</h4>
        <h6>Email: ochilovh5501934@gmail.com</h6>
        <h6>Tel: +99899 878 21 42</h6>
    </div>

</div>