@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-primary pt-5 ml-4">
    <h1>@ViewData["Title"]</h1>
    
    <h1>Legal Requirements Overview</h1>

    <p>As the world becomes more dependent on digital products and services, data privacy has increasingly become a top priority for many countries and regions. As a result, many regions have put in place robust and enforceable data regulations by which businesses are expected to comply.</p>

    <p>In most cases, non-compliance with these regulations can not only lead to major financial consequences, but it can also lead to significant and lasting damage to public trust and the reputation of your organization. It is, therefore, important to ensure that your business meets its legal obligations.</p>

    <h2>General Legal Requirements</h2>

    <h3>Major Components</h3>

    <p>Under the vast majority of legislations, if you&rsquo;re processing personal data you&rsquo;re generally required to make disclosures related to your data processing activities via a&nbsp;<strong>comprehensive privacy policy</strong>, ensure that there are effective security measures in place for&nbsp;<strong>protecting personal data</strong>&nbsp;and implement methods for receiving user&nbsp;<strong>consent</strong>&nbsp;or facilitating its withdrawal.</p>

    <p><strong>This privacy information must be up-to-date, understandable, unambiguous, and easily accessible throughout the website or app.</strong>&nbsp;Some component requirements may vary based on the type of processing activity, region, user age or business type. It is, therefore, worth noting that in addition to the general points outlined here, you may have further responsibilities depending on your law of reference. You can read more situation specific information in the sections below.</p>

    <h3>Disclosures</h3>

    <p>In general, users need to be informed of:</p>

    <ul>
        <li>Website/app owner details</li>
        <li>The effective date of your privacy policy</li>
        <li>Your notification process for policy changes</li>
        <li>What data is being collected</li>
        <li>Third-party access to their data (who the third-parties are and what data they&rsquo;re collecting)</li>
        <li>Their rights in regards to their data.</li>
    </ul>

    <p>
        You may be further responsible for making&nbsp;<strong>additional disclosures to users, third-parties and the supervisory authority</strong>&nbsp;depending on your law of reference.<br />
        &nbsp;<br />
        One such law is the&nbsp;<strong>California Consumer Privacy Act (CCPA)</strong>. Under the CCPA, users will need to be informed, in particular, of the possibility of their data being<em>&nbsp;sold</em>&nbsp;( you can think &ldquo;sold&rdquo; here as &ldquo;shared with third parties for any profit, monetary or otherwise&rdquo;). The disclosure will need to be visible from the homepage of the site and must include an opt-out (<em>DNSMPI</em>) link. You can read more about the CCPA and when it applies&nbsp;<a href="https://www.iubenda.com/en/help/19133-ccpa-guide">here</a>.
    </p>

    <h3>Consent</h3>

    <p>Consent here refers to the informed voluntary agreement of an individual to engage in a particular event or process.</p>

    <p><strong>Broadly speaking, users need to be able to decline, withdraw or give</strong>&nbsp;(depending on the regional law)&nbsp;<strong>consent</strong>. Consent may be acquired using any method that would require the user to take a direct and verifiable affirmative action; these can include checkboxes, text fields, toggle buttons, sending an email in confirmation etc.</p>

    <p>Determining your law of reference</p>

    <p>Generally, the laws of a particular region apply if:</p>

    <ul>
        <li>You base your operations there; or</li>
        <li>You use processing services or servers based in the region; or</li>
        <li>Your service targets users from that region</li>
    </ul>

    <p>This effectively means that&nbsp;<strong>regional regulations may apply to you and/or your business whether you&rsquo;re located in the region or not.</strong>&nbsp;For that reason, it&rsquo;s always advisable that you approach your data processing activities with the strictest applicable regulations in mind. You can&nbsp;<a href="https://www.iubenda.com/en/help/524">read more about which laws apply to you here</a>.</p>

    <hr />
    <h2>Region-Specific Requirements &ndash; US law</h2>

    <p><strong>In the US</strong>, there is no single comprehensive national body of data regulations; there are, however, various laws on a state level as well as industry guidelines and specific federal laws in place. Since online site/app activity is rarely limited to just one state, it&rsquo;s always best to adhere to the strictest applicable regulations. With this in mind, the most robust data law framework is implemented by the state of California.&nbsp;<strong>The California Online Privacy Protection Act (CalOPPA)</strong>, implemented in 2004, was the first state law to make&nbsp;<strong>privacy policies mandatory</strong>&nbsp;and it applies to person or company whose website/app processes the personal data of California residents.</p>

    <p>In&nbsp;<strong>addition</strong>&nbsp;to the&nbsp;<a href="https://www.iubenda.com/en/help/5720-legal-requirements-overview#gen">generally required disclosures above</a>, CalOPPA also requires that you:</p>

    <ul>
        <li><strong>Conspicuously</strong>&nbsp;post your privacy policy on the homepage of your website/ app</li>
        <li>Include in your privacy policy a description of the&nbsp;<strong>process by which users can request changes</strong>&nbsp;to personal data (if such a process exists)</li>
        <li>Include in your privacy policy a statement on&nbsp;<strong>how &ldquo;Do Not Track&rdquo; requests are handled</strong></li>
        <li>Notify affected users in the occurrence of&nbsp;<strong>security breaches</strong>&nbsp;that impact their data</li>
    </ul>

    <p>In regards to consent, US law&nbsp;<a href="https://www.dlapiperdataprotection.com/index.html?t=collection-and-processing&amp;c=US">generally requires</a>&nbsp;that you give users a clear option for&nbsp;<strong>withdrawing consent</strong>&nbsp;(opt-out). Different rules apply, however, in cases involving &ldquo;sensitive data&rdquo; (e.g. health information, credit reports, student data, personal information of children under 13). In such cases, there must be a&nbsp;<strong>verifiable opt-in</strong>&nbsp;action such as checking a box or some other affirmative action.</p>

    <h3>Special Care Regarding Children</h3>

    <p>If your service is knowingly collecting, using, or disclosing&nbsp;<strong>personal information from children under 13</strong>, then special regulations apply to those data processing activities.</p>

    <p><strong>Children&rsquo;s Online Privacy Protection Act (<a href="https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions">COPPA</a>)</strong>&nbsp;is a US federal law implemented to better protect the personal data and rights of children under 13 years of age.</p>

    <p>Under this law, if you operate a website or online service which is directed to children under 13, or you have actual knowledge that you&rsquo;re collecting personal information from children under 13, you must&nbsp;<strong>give notice to parents</strong>&nbsp;and get their&nbsp;<strong>verifiable consent</strong>&nbsp;before collecting, using, or disclosing the information, and must keep the information collected secure.</p>

    <p><strong>&ldquo;Verifiable&rdquo;</strong>&nbsp;here means using a method of attaining consent that is not easily faked by a child and that is demonstrably likely to be given by an adult (e.g. checking a form of government-issued ID against an applicable database).</p>

    <p>What is meant by the &ldquo;personal information&rdquo; of children</p>

    <p>&ldquo;Personal information&rdquo; within this context refers to the child&rsquo;s:</p>

    <ul>
        <li>Name or ID information (eg. social security number)</li>
        <li>Location info including physical address, geolocation data or IP address</li>
        <li>Any contact information including phone numbers and email addresses</li>
        <li>Device identifiers</li>
        <li>Media containing the child&rsquo;s image or voice, including photos, videos or audio files</li>
    </ul>

    <p>💡 Learn more about&nbsp;<a href="https://www.iubenda.com/en/help/5717">legal requirements regarding children</a>&nbsp;and&nbsp;<a href="https://www.iubenda.com/blog/guide-coppa-mobile-apps">COPPA</a>.</p>

    <h2>Region-Specific Requirements &ndash; EU law</h2>

    <h3>GDPR</h3>

    <p>
        In the EU the General Data Protection Regulation (<a href="https://www.iubenda.com/en/help/5428">GDPR</a>) was introduced in an effort to centralize data protection for people in the EU and&nbsp;<strong>become fully enforceable in May 2018</strong>. At its most basic, it specifies how personal data should be lawfully processed (including how it&rsquo;s collected, used, protected or interacted with in general).<br />
        <a id="gdprapplies"></a>
    </p>

    <p>Where it applies</p>

    <p>The GDPR can apply where:</p>

    <ul>
        <li>An entity&rsquo;s base of operations is in the EU (this applies whether the processing takes place in the EU or not);</li>
        <li>An entity not established in the EU offers goods or services (even if the offer is for free) to people in the EU. The entity can be government agencies, private/public companies, individuals and non-profits;</li>
        <li>An entity is not established in the EU but it monitors the behaviour of people who are in the EU, provided that such behaviour takes place in the EU.</li>
    </ul>

    <p>This scope effectively covers almost all companies and, therefore, means that the GDPR can apply to you whether your organization is based in the EU or not.</p>

    <p>Note:&nbsp;<strong>The protections of the GDPR also extend to users outside the EU if the data controller is EU based</strong>. Therefore, if you are an EU-based data controller you must, by default, apply GDPR standards to ALL your users.</p>

    <p>Where it does not apply</p>

    <p>The conditions of applicability of the GDPR are set from a material and a territorial point of view. To determine, whether or not a specific processing activity is exempt from its applicability, we have to consider both aspects.</p>

    <p>Material point of view</p>

    <p>The GDPR applies to the processing of&nbsp;<a href="https://www.iubenda.com/en/help/5428-gdpr-guide#personaldata">personal data</a>. Therefore, it does not apply to company data, such as a company name and address. Be careful here, however, because normally &ldquo;natural persons&rdquo; work in a company, any data referring to them would, therefore, be deemed &ldquo;personal&rdquo;, regardless of whether they are processed in a Business to Customer (B2C) or Business to Business (B2B) context.</p>

    <p>Furthermore, personal data may not fall under the scope of the GDPR in several other scenarios including where they are processed by a natural person for a purely personal or household activity.&nbsp;<strong>You can read more about this in the dedicated guide&nbsp;<a href="https://www.iubenda.com/en/help/5428-gdpr-guide#gdpr-not-applicable">here</a>.</strong></p>

    <p>Territorial point of view</p>

    <p>In addition to and notwithstanding the above, we&rsquo;ve already mentioned under which conditions&nbsp;<a href="https://www.iubenda.com/en/help/5720-legal-requirements-overview#gdprapplies">the GDPR applies</a>. Consequently, for a processing activity&nbsp;<strong>not</strong>&nbsp;to be subjected to the GDPR from a territorial point of view, the following must apply cumulatively:</p>

    <ul>
        <li>the controller (or processor) is not based within the EU.&nbsp;<em>Note: Always remember that the controller (or processor) could also be&nbsp;<strong>an EU-branch office</strong>&nbsp;of a non-EU corporation: in that case, even if the branch office were to have no legal personality, the GDPR would fully apply;</em></li>
        <li>the processing does not relate to the offering of goods or services (even for free) to data subjects in the Union or the monitoring of their behavior as far as it takes place within the Union;</li>
        <li>the controller is not based in an extra-EU place, where EU law applies due to international public law.</li>
    </ul>

    <p><strong>See examples in the dedicated guide&nbsp;<a href="https://www.iubenda.com/en/help/5428-gdpr-guide#gdpr-not-applicable">here</a>.</strong></p>

    <p>GDPR Requirements</p>

    <p>In general, the&nbsp;<strong>GDPR requires</strong>&nbsp;that you:</p>

    <p><strong>Have a lawful basis.</strong>&nbsp;The GDPR requires that you have at least one lawful basis for processing user data. There are 6 lawful bases outlined under the GDPR.</p>

    <p><strong>Aquire verifiable consent.</strong>&nbsp;Under the GDPR, consent is one of several&nbsp;<a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing">legal/ lawful bases</a>&nbsp;for processing user data and as such, it must be &ldquo;freely given, specific, informed and explicit&rdquo;. This means that the mechanism for acquiring consent must be unambiguous and involve a clear &ldquo;opt-in&rdquo; action (the regulation specifically forbids pre-ticked boxes and similar &ldquo;opt-out&rdquo; mechanisms).</p>

    <p>The GDPR also gives users a specific&nbsp;<strong>right to withdraw consent</strong>&nbsp;and, therefore, it must be as easy to withdraw consent as it is to give it. Because consent under the GDPR is such an important issue, it&rsquo;s&nbsp;<strong>vital</strong>&nbsp;that you&nbsp;<strong>document and keep clear records related to the consent.</strong></p>

    <p>Records of consent should at least contain the following information:</p>

    <ul>
        <li>The identity of the user giving consent;</li>
        <li>When they consented;</li>
        <li>What disclosures were made (what they were told) at the time they consented;</li>
        <li>Methods used for obtaining consent (e.g., newsletter form, during checkout etc.);</li>
        <li>Whether they have withdrawn consent or not</li>
    </ul>

    <p>Consent is not the ONLY reason that an organization can process user data; it is only one of the &ldquo;legal bases&rdquo;, therefore companies can apply other lawful (within the scope of GDPR) bases for data processing activity. With that said, there will always be data processing activities where consent is the only or best option.</p>

    <p>Data Subjects&rsquo; rights</p>

    <p>Under the GDPR users have statutory rights in regards to their data. Not only must you as the controller honor those rights, but you must also inform users about them. Such rights include:</p>

    <ul>
        <li>
            <strong>The right to be informed</strong><br />
            In addition to the generally required disclosures outlined above, the GDPR further requires that you ensure that your privacy notices are concise, easy-to-understand and easily accessible throughout your website/app.
        </li>
        <li>
            <strong>The right of access</strong><br />
            Users have the right to access to their personal data and information about how their personal data is being processed.
        </li>
        <li>
            <strong>The right to rectification</strong><br />
            Users have the right to have their personal data rectified if it is inaccurate or incomplete.
        </li>
        <li>
            <strong>The right to object</strong><br />
            Under the GDPR, users have the right to object to certain activities in relation to their personal data.
        </li>
        <li>
            <strong>The right to data portability</strong><br />
            Under certain conditions, users have the right to obtain (in a machine-readable format) and use their personal data for their own purposes.
        </li>
        <li>
            <strong>The right to erasure</strong><br />
            When data is no longer relevant to its original purpose or where users have withdrawn consent, users have the right to request that their data be erased and all dissemination ceased.
        </li>
        <li>
            <strong>The right to restrict processing</strong><br />
            Users have the right to restrict the processing of their personal data in specific cases.
        </li>
        <li>
            <strong>Rights related to automated decision making and profiling</strong><br />
            Users have the right to not be subjected to a decision when it is based on automated processing or profiling, and it produces a legal or a similarly significant effect on the user.
        </li>
    </ul>

    <p><strong>Meet specific requirements if transferring data outside of the EAA.</strong>&nbsp;The GDPR permits data transfers of EU resident data outside of the European Economic Area (EEA) only when in compliance with set conditions.</p>

    <p><strong>Implement privacy by design and default.</strong>&nbsp;Under the GDPR, data protection should be included from the onset of design and development of the business processes and infrastructure.</p>

    <p><strong>Disclose security breaches.</strong>&nbsp;Under the GDPR, you are required to inform the supervisory authority of security breaches involving user data within 72 hours of becoming aware of it. In many cases you&rsquo;re also required to inform affected users.</p>

    <p><strong>Appoint a DPO (where certain conditions are met).</strong>&nbsp;Under certain conditions, you may be required to appoint a Data Protection Officer, who will have the task to oversee all processing activities and monitor compliance with applicable law. Cases for mandatory appointment include situations where large-scale, systematic processing of user data occurs and where special categories of data (i.e. sensitive data) are being processed.</p>

    <p><strong>Maintain&nbsp;records of processing&nbsp;activities.</strong>&nbsp;As stipulated in Article 30, the GDPR requires that you keep and maintain &ldquo;full and extensive&rdquo;&nbsp;<strong>up-to-date&nbsp;<a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/documentation/">records</a></strong>&nbsp;of the particular&nbsp;<strong>data processing activities</strong>. Full and extensive records of processing are&nbsp;<strong>expressly required</strong>&nbsp;in cases where your data processing activities are not&nbsp;<em>occasional</em>, where they could result in a risk to the rights and freedoms of others, where they involve the handling of &ldquo;special categories of data&rdquo; or where your organization has more than 250 employees &mdash;&nbsp;<strong>this effectively covers almost all data controllers and processors</strong>. However, even&nbsp;<em>if</em>&nbsp;your processing activities somehow fall outside of these situations,&nbsp;<a href="https://www.iubenda.com/en/help/5428#userrights">your information duties to users</a>&nbsp;make it necessary for you to keep basic records relating to which data you collect, its purpose, all parties involved in its processing and the data retention period &mdash; this is mandatory for everyone. Read more about how to maintain compliant records for controllers and processor in our&nbsp;<a href="https://www.iubenda.com/en/help/5428#recordsProcessing">GDPR guide</a>.</p>


    
</div>
